<footer>
  <% if welcome_page%>
    <ul>
      <li><%= link_to  "Login", login_path, id: "nav-login-link" %></li>
      <li><%= link_to  "Signin", signin_path, id: "nav-signup-link" %></li>
    </ul>
  <% end %>
  
  <div>
    <footer>SHATTERED CELL &trade;</footer>
  </div>
</footer>